@keyframes move-top {
  0% {
    transform: translateY(100%);

  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes move-right {
  0% {
    transform: translateX(100%);

  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes move-bottom {
  0% {
    transform: translateY(-100%);

  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes move-left {
  0% {
    transform: translateX(-100%);

  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
