@keyframes move-top {
  0% {
    transform: translateY(100%);

  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes move-right {
  0% {
    transform: translateX(100%);

  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes move-bottom {
  0% {
    transform: translateY(-100%);

  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes move-left {
  0% {
    transform: translateX(-100%);

  }
  100% {
    transform: translateX(0%);
  }
}

.animate-moving-top{
  animation-duration: 0.3s;
  animation-name: move-top;
  animation-iteration-count: 1;
}
.animate-moving-right{
  animation-duration: 0.3s;
  animation-name: move-right;
  animation-iteration-count: 1;
}
.animate-moving-bottom{
  animation-duration: 0.3s;
  animation-name: move-bottom;
  animation-iteration-count: 1;
}
.animate-moving-left{
  animation-duration: 0.3s;
  animation-name: move-left;
  animation-iteration-count: 1;
}
